section {
  margin-top: 50px;
  margin-left: 50px;
}
section.all button {
  background-color: cornflowerblue;
  padding: 0.5em 2em;
  margin-left: 10px;
}

section.all div {
  font-size: large;
  margin-bottom: 30px;
  margin-top: auto;
}

section.all .main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section.all .container {
  display: grid;
  /* grid-template-columns: 100px ; */
  column-gap: 40px;
  row-gap: 50px;
}
section .container .uname {
  text-align: center;
  margin-top: auto;
}

section.all .container .following,
section.all .container .others {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
