section.main .container {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  margin: 50px auto;
  column-gap: 100px;
}

section.main .follow-info {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr;
  font-size: large;
}

section.main .container .img form {
  width: 100%;
  height: 100%;
}
section.main .following button {
  border: 0px;
  background-color: inherit;
  font-size: large;
}

section.main .followers button {
  border: 0px;
  background-color: inherit;
  font-size: large;
}

section.main .name {
  font-size: large;
}
section.main .value {
  font-weight: 700;
}
section.main .user-name h1 {
  font-size: 28px;
  font-weight: 300;
}
section.main .user-name button.delete {
  color: black;
}

section.main .user-name .delete {
  border: 0.5px;
  background-color: rgb(230, 230, 230);
  margin-left: 40px;
  font-size: large;
  padding: 0.3em 1em;
  border-radius: 10px;
}
section.main .user-name button {
  padding: 0.3em 1em;
  background-color: rgb(59, 127, 237);
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
}
section.main .user-name form {
  display: inline;
  margin-left: 10px;
}
section.main .user-info {
  display: grid;
  grid-template-rows: auto auto auto;
}

section.main .image {
  text-align: center;
}

section.main .image button {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0px;
}

section.main .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.my-post .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10% 10%;
  column-gap: 20px;
  row-gap: 30px;
}
section.my-post .container button {
  width: 100%;
  height: 100%;
  border: 0px;
  border-radius: 20px;
}

section.my-post .container .item {
  width: 100%;
  height: 250px;
}

section.my-post img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

hr {
  margin: 0px 10%;
}

@media screen and (max-width: 800px) {
  section.main .container {
    width: fit-content;
    grid-template-columns: 30% 30%;
  }
  section.my-post .container {
    grid-template-columns: 1fr 1fr;
    margin: 10% 10%;
  }
}

@media screen and (max-width: 400px) {
  section.my-post .container {
    grid-template-columns: 1fr;
    margin: 10% 30px;
  }
}
