section.view-following {
  margin: 50px 10%;
}
section.view-following .main-container {
  display: grid;
  width: 400px;
  margin: auto;
  row-gap: 30px;
}

section.view-following .main-container .view-container {
  display: grid;
  grid-template-columns: 200px 150px;
  margin: auto;
  column-gap: 30px;
  font-size: larger;
  text-align: center;
  background-color: white;
  border-radius: 1em;
  padding: 10px;
}
section.view-following .main-container .view-container button {
  padding: 0.2em 1em;
  background-color: rgb(59, 127, 237);
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  box-sizing: border-box;
}

#restrict {
  background-color: grey;
  color: black;
}

section.view-following .main-container a {
  text-decoration: none;
}
