<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/explore-friends-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/view-post-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/view-following-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/view-followers-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/search-page-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/update-profile-style.css' %}" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="{% static 'js/share.js' %}"></script>
    <title>Document</title>
</head>

<body>
    <header>

        <div class="container">
            <div class="insta-pic">
                <a href="/home">
                    <img src="{% static 'images/instagram.png' %}" alt="instagram">
                </a>
            </div>
            <div class="search-bar">
                <form action="/search/" method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Search" name="search" value="">
                </form>
            </div>
            <div class="nav-bar">
                <nav>
                    <div class="home">
                        <button>
                            <a href="/home">
                                <i class="fa fa-home"></i>
                            </a>
                        </button>
                    </div>
                    <div class="create-post">
                        <button>
                            <a href="/post">
                                <i class="fa fa-plus-square-o"></i>
                            </a>
                        </button>
                    </div>
                    <div>
                        <button class="explore">
                            <a href="/explore">
                                <i class="fa fa-compass"></i>
                            </a>
                        </button>
                    </div>
                    <div class="explore">
                        <button>
                            <a href="/login">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </button>
                    </div>
                    <div class="user-profile">
                        <button>
                            <a href="{% url 'profile' request.session.user %}">
                                <!-- <h1>{{ request.session.obj }}</h1> -->
                                <img class="img-circle" src="{{ request.session.obj }}">
                                <!-- <i class=" fa fa-user-circle"></i> -->
                            </a>
                        </button>
                    </div>
                </nav>
            </div>
    </header>
    {% block content %}

    {% endblock %}

</body>

</html>