{% extends "instagramapp/base.html" %}
{% load staticfiles %}
{% block content %}
<section class="all">
    <div class="main-container">
        <div class="container">

            {% for user in following %}
            {% if user.following is not None %}
            <div class="following">
                <div class="uname">
                    {{user.following}}
                </div>
                <div class="follow">
                    <form action="{% url 'unfollow' user.following %}" method="POST">
                        {% csrf_token %}
                        <a>
                            <button type="submit" name="next" value="{{request.path}}">
                                unfollow
                            </button>
                        </a>
                    </form>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        <div class="container">
            {% if others is not None %}
            {% for user in others %}
            <div class="others">
                <div class="uname">
                    {{user.user_name}}
                </div>
                <div class="follow">
                    <form action="{% url 'follow' user.user_name %}" method="POST">
                        {% csrf_token %}
                        <a>
                            <button type="submit" name="next" value="{{request.path}}">
                                follow
                            </button>
                        </a>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

<!-- 
<section class="home-post">
    <div class="container">
        {% for post in posts %}
        <div class="item-container">
            <div class="user-name">
                <div class="profile-pic">
                    <button>
                        <a href="{% url 'profile' post.user.user_name %}">
                            <i class="fa fa-user-circle"></i>
                        </a>
                    </button>
                </div>
                <div class="profile-info">
                    {{post.user.user_name}}<br>
                    {{post.created}}
                </div>

                <div class="unfollow">
                    {% if post.user not in following_user_objects %}
                    <form action="{% url 'follow' post.user.user_name %}" method="POST">
                        {% csrf_token %}
                        <a>
                            <button type="submit" name="next" value="{{request.path}}">
                                follow
                            </button>
                        </a>
                    </form>
                    {% else %}
                    <form action="{% url 'unfollow' post.user.user_name %}" method="POST">
                        {% csrf_token %}
                        <a>
                            <button type="submit" name="next" value="{{request.path}}">
                                unfollow
                            </button>
                        </a>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="img">
                    <a href="{% url 'viewpost' post.pk %}">
                        <button>
                            <img src="{{ post.post.url }}" alt="img" width="100%"><br>
                        </button>
                    </a>
                </div>

                <div class="like">
                    <form method="POST">
                        {% csrf_token %}
                        <button type=" submit" name="post_pk" value="{{ post.pk }}">
                            {% if session_user  not in post.likes.all %}
                            <i class='fa fa-heart-o' style='font-size:24px'></i>
                            {% else %}
                            <i class="fa fa-heart" style="font-size: 24px;"></i>
                            {% endif %}
                        </button>
                    </form>
                </div>
                <div class="likes-count">
                    {{ post.likes.count }} likes
                </div>
                {% if post.location  %}
                <div class=" location">
                    {{post.location}}
                </div>
                {% endif %}
                {% if post.description %}
                <div class="description">
                    {{post.description}}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section> -->

<section class="test">
    <div class="main-container">
        {% for post in posts %}
        <div class="item">
            <a href="{% url 'viewpost' post.pk %}">
                <button>
                    <img src="{{ post.post.url }}" alt="img">
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}