<!DOCTYPE html>
{% extends "instagramapp/base.html" %}
{% load staticfiles %}



{% block content %}
<section class="home-post">
    <div class="container">
        {% for post in posts %}
        <div class="item-container">
            <div class="user-name">
                <div class="profile-pic">
                    <button>
                        <a href="{% url 'profile' post.user.user_name %}">
                            <i class="fa fa-user-circle"></i>
                        </a>
                    </button>
                </div>
                <div class="profile-info">
                    {{post.user.user_name}}<br>
                    {{post.created}}
                </div>
                <div class="unfollow">
                    <a href="{% url 'unfollow' post.user.user_name %}">
                        <button>
                            unfollow
                        </button>
                    </a>
                </div>
            </div>
            <div>
                <div class="img">
                    <a href="{% url 'viewpost' post.pk %}">
                        <button>
                            <img src="{{ post.post.url }}" alt="img" width="100%"><br>
                        </button>
                    </a>
                </div>
                <!-- <img src="{{ post.post.url }}" alt="img"><br> -->
                {% if post.location  %}
                <div class="location">
                    {{post.location}}
                </div>
                {% endif %}
                {% if post.description %}
                <div class="description">
                    {{post.description}}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}