<!DOCTYPE html>
{% extends "instagramapp/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<section class="home-post">
    {% if posts.count != 0 %}
    <div class="container">
        {% for post in posts %}
        <div class="item-container">
            <div class="user-name">
                <div class="profile-pic">
                    <button>
                        <a href="{% url 'profile' post.user.user_name %}">
                            <img class="img-circle" src="{{ post.user.profile_pic.url }}" width=30px height=30px>
                            <!-- <i class="fa fa-user-circle"></i> -->
                        </a>
                    </button>
                </div>
                <div class="profile-info">
                    {{post.user.user_name}}<br>
                    {{post.user.name}}<br>
                    {{post.created}}
                </div>
                <div class="unfollow">
                    <form action="{% url 'unfollow' post.user.user_name %}" method="POST">
                        {% csrf_token %}
                        <a>
                            <button type="submit" name="next" value="{{request.path}}">
                                unfollow
                            </button>
                        </a>
                    </form>
                </div>
            </div>
            <div>
                <div class="img">
                    <a href="{% url 'viewpost' post.pk %}">
                        <button>
                            <img src="{{ post.post.url }}" alt="img" width="100%"><br>
                        </button>
                    </a>
                </div>
                <div class="like-comment-share">
                    <div class="like">
                        <form method="POST">
                            {% csrf_token %}
                            <button type=" submit" name="post_pk" value="{{ post.pk }}">
                                {% if session_user not in post.likes.all %}
                                <i class='fa fa-heart-o' style='font-size:24px'></i>
                                {% else %}
                                <i class="fa fa-heart" style="font-size: 24px;"></i>
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <div class="comment">
                        <a href="{% url 'viewpost' post.pk %}">
                            <button>
                                <i class='fa fa-comment-o' style='font-size:24px'></i>
                            </button>
                        </a>
                    </div>
                    <div class="share" onclick="displayMessage(event,this)">
                        <button>
                            <i class='fa fa-share' style='font-size:24px'></i>
                        </button>
                        <div class="share-message">
                            Copied to clipboard
                        </div>
                        <input class="copy-url" type="hidden" value="{% url 'viewpost' post.pk %}" name="url">
                    </div>

                </div>
                <div class="likes-count">
                    {{ post.likes.count }} likes<br>
                    Posted {{post.created|naturaltime|capfirst}}
                </div>
                {% if post.location  %}
                <div class=" location">
                    {{post.location}}
                </div>
                {% endif %}
                {% if post.description %}
                <div class="description">
                    {{post.description}}
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="suggestions-head">
        <h4>Suggestions for you</h4>
    </div>
    <div class="suggestions-container">
        <div class="suggestions">
            {% for user in users %}
            <div class="user">
                <div class="profile-pic">
                    <button>
                        <a href="{% url 'profile' user.user_name %}">
                            <img src="{{ user.profile_pic.url }}">
                            <!-- <i class="fa fa-user-circle"></i> -->
                        </a>
                    </button>
                </div>
                <div class="user-name-info">
                    <div class="user-name">
                        {{ user.user_name }}
                    </div>
                    <div class="full-name">
                        {{user.name}}
                    </div>
                </div>
                <div class="follow">
                    {% if user in following %}
                    <a href="{% url 'unfollow' user.user_name %}">
                        <button type="submit">unfollow</button>
                    </a>
                    {% else %}
                    <a href="{% url 'follow' user.user_name %}">
                        <button type="button">follow</button></a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}