{% extends "instagramapp/base.html" %}
{% load staticfiles %}
{% block content %}
<section class="main">
    <div class="container">
        <div class="image">
            {% if request.session.user == user_name %}
            <a href="{% url 'update' %}">
                <button type="submit">
                    <img src="{{ user_obj.profile_pic.url }}">
                </button>
            </a>
            {% else %}
            <button>
                <img src="{{ user_obj.profile_pic.url }}">
            </button>
            {% endif %}
        </div>
        <div class="user-info">
            <div class="user-name">
                <h1> {{ user_name }}
                    <span>
                        {% if request.session.user == user_name %}
                        <a href="{% url 'delete' user_name %}">
                            <button class="delete">
                                Delete Account
                            </button>
                        </a>
                        {% else %}

                        {% if user_obj in session_user_following %}
                        <form action="{% url 'unfollow' user_name %}" method="POST">
                            {% csrf_token %}
                            <a>
                                <button type="submit" name="next" value="{{request.path}}">
                                    unfollow
                                </button>
                            </a>
                        </form>
                        {% else %}
                        <form action="{% url 'follow' user_name %}" method="POST">
                            {% csrf_token %}
                            <a>
                                <button type="submit" name="next" value="{{request.path}}">
                                    follow
                                </button>
                            </a>
                        </form>
                        {% endif %}
                        {% endif %}
                    </span>
                </h1>
            </div>
            <div class="follow-info">
                <div class="posts">
                    <span class="value">{{ count_of_posts }}</span> posts
                </div>
                <div class="following">
                    <span class="value">{{ following_count }}</span>
                    <a href="{% url 'following' user_name %}"><button>following</button></a>
                </div>
                <div class="followers">
                    <span class="value">{{ followers_count }}</span> <a
                        href="{% url 'followers' user_name %}"><button>followers</button></a>
                </div>
            </div>
            <div class="name">
                {{ name }}
            </div>
        </div>
    </div>
</section>

<section class="my-post">
    <hr>
    <div class="container">
        {% for posts in my_posts %}
        <div class="item">
            <a href="{% url 'viewpost' posts.pk %}">
                <button>
                    <img src="{{ posts.post.url }}" alt="img"><br>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}