{% extends "instagramapp/base.html" %}
{% load staticfiles %}

{% block content %}
<section class="view-followers">
    <div class="main-container">
        {% if followers is None %}
        <div class="info">
            None are following you
        </div>
        {% endif %}
        {% for follower in followers %}
        <div class="view-container">
            <div class="profile-pic">
                <button>
                    <a href="{% url 'profile' follower.user.user_name %}">
                        <img src="{{ follower.user.profile_pic.url }}">
                        <!-- <i class="fa fa-user-circle"></i> -->
                    </a>
                </button>
            </div>
            <div class="uname">
                {{ follower.user.user_name }}<br>
                <span class="name">{{ follower.user.name }}</span>
            </div>
            <div class="follow">
                {% if follower.user.user_name == request.session.user %}
                <button id="restrict">Hey you are following </button>
                {% else %}
                {% if follower.user in following %}
                <form action="{% url 'unfollow' follower.user.user_name %}" method="POST">
                    {% csrf_token %}
                    <a>
                        <button type="submit" name="next" value="{{request.path}}">
                            unfollow
                        </button>
                    </a>
                </form>
                {% else %}
                <form action="{% url 'follow' follower.user.user_name %}" method="POST">
                    {% csrf_token %}
                    <a>
                        <button type="submit" name="next" value="{{request.path}}">
                            follow
                        </button>
                    </a>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}