{% extends "instagramapp/base.html" %}
{% load staticfiles %}
{% block content %}
<section class="view-post">
    <div class="container">
        <div class="img">
            <img src="{{ post.post.url }}" alt="img" /><br>
            <div class="delete">
                {% if request.session.user == post.user.user_name %}
                <a href="{% url 'deletepost' post.pk %}">
                    <button>DELETE</button>
                </a>
                {% endif %}
            </div>
            <!-- action="{% url 'like' post.pk %}" -->
        </div>
        <div class="comments">
            <div class="uinfo">
                <div class="profile-pic">
                    <button>
                        <a href="{% url 'profile' post.user.user_name %}">
                            <i class="fa fa-user-circle"></i>
                        </a>
                    </button>
                </div>
                <div class="user-name-info">
                    <div class="user-name">
                        {{ post.user.user_name }}
                    </div>
                    <div class="full-name">
                        {{post.user.name}}
                    </div>
                </div>
                <div class="follow">
                    {% if request.session.user != post.user.user_name %}
                    {% if post.user in following %}
                    <form action="{% url 'unfollow' post.user.user_name %}" method="POST">
                        {% csrf_token %}
                        <a>
                            <button type="submit" name="next" value="{{request.path}}">
                                unfollow
                            </button>
                        </a>
                    </form>
                    {% else %}
                    <form action="{% url 'follow' post.user.user_name %}" method="POST">
                        {% csrf_token %}
                        <a>
                            <button type="submit" name="next" value="{{request.path}}">
                                follow
                            </button>
                        </a>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="comments-section">
                {% for comment in comments %}
                <div class="uinfo">
                    <div class="profile-pic">
                        <button>
                            <a href="{% url 'profile' post.user.user_name %}">
                                <i class="fa fa-user-circle"></i>
                            </a>
                        </button>
                    </div>
                    <div class="user-name">
                        {{ comment.user.user_name }}
                    </div>
                    <div class="comment-description">
                        {{ comment.comment }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="like-p">
                <div class="like-comment-share">
                    <div class="like">
                        <form method="POST">
                            {% csrf_token %}
                            <button type=" submit" name="post_pk" value="{{ post.pk }}">
                                {% if session_user  not in post.likes.all %}
                                <i class='fa fa-heart-o' style='font-size:20px'></i>
                                {% else %}
                                <i class="fa fa-heart" style="font-size: 20px;"></i>
                                {% endif %}
                            </button>
                        </form>
                    </div>
                    <div class="comment">
                        <button>
                            <i class='fa fa-comment-o' style='font: size 24px;'></i>
                        </button>
                        </form>
                    </div>
                    <div class="share" onclick="displayMessage(event,this)">
                        <button>
                            <i class='fa fa-share' style='font-size:20px'></i>
                        </button>
                        <div class="share-message">
                            Copied to clipboard
                        </div>
                        <input class="copy-url" type="hidden" value="{% url 'viewpost' post.pk %}" name="url">
                    </div>
                </div>
                <div class="likes-count">
                    {{ post.likes.count }} likes<br>
                </div>
                <div class="write-comment">
                    <form action="{% url 'comment' post.pk %}" method="POST">
                        {% csrf_token %}
                        <textarea placeholder="Add a comment..." rows="1" name="comment"></textarea>
                        <button type="submit">Post</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="related-posts">
    <hr>
    <div class="content">
        <p>Related User Posts</p>
    </div>
    <div class="related-container">
        {% for post in related_posts %}
        <div class="img">
            <a href="{% url 'viewpost' post.pk %}">
                <button>
                    <img src="{{ post.post.url }}" alt="img"><br>
                </button>
            </a>
        </div>
        {% endfor %}
    </div>

</section>
{% endblock %}