{% extends "instagramapp/base.html" %}
{% load staticfiles %}
{% block content %}
<section class="view-post">
    <div class="container">
        <div class="img">
            <img src="{{ post.post.url }}" alt="img" /><br>
            <div class="delete">
                {% if request.session.user == post.user.user_name %}
                <a href="{% url 'deletepost' post.pk %}">
                    <button>DELETE</button>
                </a>
                {% endif %}
            </div>
            <!-- action="{% url 'like' post.pk %}" -->
            <div class="like">
                <form method="POST">
                    {% csrf_token %}
                    <button type=" submit" name="post_pk" value="{{ post.pk }}">
                        {% if session_user  not in post.likes.all %}
                        <i class='fa fa-heart-o' style='font-size:24px'></i>
                        {% else %}
                        <i class="fa fa-heart" style="font-size: 24px;"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
            <div class="likes-count">
                {{ post.likes.count }} likes
            </div>
        </div>
        <div class="comments">
            <p>Comments section</p>
            <h1>{{post.post.location}}</h1>
            <h1>{{post.post.description}}</h1>
            <h1></h1>
        </div>
    </div>
</section>
{% endblock %}