{% extends "instagramapp/base.html" %}
{% load staticfiles %}

{% block content %}
<section class="view-following">
    <div class="main-container">
        {% if not following.exists %}
        <h1>You are not following<br>
            <br>
            Click <a href="/explore">Explore</a> to follow</h1>
        {% endif %}
        {% for follow in following %}
        <div class="view-container">
            <div class="uname">
                {{ follow.user_name }}
            </div>
            <div class="follow">
                {% if follow.user_name == request.session.user %}
                <button id="restrict">This is you</button>
                {% else %}
                {% if follow in session_user_following %}
                <form action="{% url 'unfollow' follow.user_name %}" method="POST">
                    {% csrf_token %}
                    <a>
                        <button type="submit" name="next" value="{{request.path}}">
                            unfollow
                        </button>
                    </a>
                </form>
                {% else %}
                <form action="{% url 'follow' follow.user_name %}" method="POST">
                    {% csrf_token %}
                    <a>
                        <button type="submit" name="next" value="{{request.path}}">
                            follow
                        </button>
                    </a>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}